<br />

<%= form_with scope: :session, url: login_path, class: "forms" do |f|%>

<%= render partial: "form_label", locals: {required: true, field: :email,  fa_icon: 'at',
                                           placeholder: 'E-mail', type: 'email', form: f} %>

<%= render partial: "form_label", locals: {required: true, field: :password,  fa_icon: 'key',
                                           placeholder: 'Password', type: 'password', form: f} %>

<%= content_tag :div, class: "input-group mb-3 row" do %>
<%= f.submit :"Log in", class: "btn-outline-success btn btn-block btn-lg" %>
<% end %>

<p>New user? <%= link_to 'Sign up now', signup_path %></p>

<% end %>