<script>
  $(document).ready(function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: ['moment', 'dayGrid', 'timeGrid', 'list', 'interaction'],
      defaultView: 'listWeek',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'listWeek,timeGrid,timeGridWeek,dayGridMonth'
      },
      nowIndicator: true,
      fixedWeekCount: true,
      allDaySlot: false,
      minTime: "<%= Rails.configuration.smarter_rooms_calendar_start_time %>",
      maxTime: "<%= Rails.configuration.smarter_rooms_calendar_end_time %>",
      slotDuration: "<%= Rails.configuration.smarter_rooms_calendar_slot_duration %>",
      hiddenDays: "<%= Rails.configuration.smarter_rooms_calendar_hidden_days %>",
      defaultDate: "<%= DateTime.now.strftime('%Y-%m-%d') %>",
      editable: false,
      navLinks: true,
      eventLimit: false,
      noEventsMessage: 'No bookings to display',
      eventTimeFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      slotLabelFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      eventLimit: true,
      views: {
        week: {
          titleFormat: 'DD/MM'
        }
      },
      buttonText: {
        timeGrid: 'day'
      },
      loading: function (bool) {
        $('#div_calendar_loading').toggle(bool);
      },
      events: {
        url: '<%= url %>',
        error: function () {
          $('#script-warning').show();
        }
      },
      eventMouseEnter: function (mouseEnterInfo) {
        console.log(mouseEnterInfo.el.innerHTML);
        console.log(mouseEnterInfo.event.title);
      },

      dateClick: function (info) {
        if (info.allDay) {
          calendar.changeView('timeGridDay');
          calendar.gotoDate(info.date);
        }
      },

      eventRender: function (info) {
        if (info.event.extendedProps.can_delete) {
          if (info.el.querySelector('.fc-title') != null) {
            info.el.querySelector('.fc-title').innerHTML = '<a href="" onclick="cancelBooking(' + info.event.extendedProps.can_delete + '); return false;" class="fas fa-trash text-danger"></a>&nbsp;&nbsp;' + info.event.title;
          }

          if (info.el.querySelector('.fc-list-item-title') != null) {
            info.el.querySelector('.fc-list-item-title').innerHTML = '<a href="" onclick="cancelBooking(' + info.event.extendedProps.can_delete + '); return false;" class="fas fa-trash text-danger"></a>&nbsp;&nbsp;' + info.event.title;
          }
        }
      },
    });
    calendar.render();
  });

  function cancelBooking(id) {
    if (confirm("Do you want to cancel this booking?")) {
      alert("Cancela ...");
    }
  }
</script>

<style>
  #div_calendar_loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #div_calendar_loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  #script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
  }

  #calendar {
    max-width: 750px;
    margin: 20px auto;
    padding: 0 10px;
    font-size: 14px;
  }

  @media only screen and (max-width: 600px) {
    #calendar H2 {
      margin-top: 20px;
    }
  }
</style>