<%
minTime = Rails.configuration.smarter_rooms_calendar_start_time.to_s + ":00"
maxTime = Rails.configuration.smarter_rooms_calendar_end_time.to_s + ":00"
slotDuration = Rails.configuration.smarter_rooms_calendar_slot_duration
hiddenDays = Rails.configuration.smarter_rooms_calendar_hidden_days
defaultDate = DateTime.now.strftime('%Y-%m-%d')

if Rails.configuration.smarter_rooms_calendar_end_time <= DateTime.now.strftime('%H').to_i
  defaultDate = (DateTime.now+1.day).strftime('%Y-%m-%d')
end

%>
<script>
  var show_tooltip = true;

  $(document).ready(function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: ['moment', 'dayGrid', 'timeGrid', 'list', 'interaction'],
      defaultView: 'dayGridMonth',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'timeGrid,dayGridMonth'
      },
      nowIndicator: true,
      fixedWeekCount: true,
      allDaySlot: false,
      minTime: "<%= minTime %>",
      maxTime: "<%= maxTime %>",
      slotDuration: "<%= slotDuration %>",
      hiddenDays: "<%= hiddenDays %>",
      defaultDate: "<%= defaultDate %>",
      editable: false,
      navLinks: false,
      eventLimit: false,
      noEventsMessage: 'No bookings to display',
      eventTimeFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      slotLabelFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      eventLimit: true,
      views: {
        week: {
          titleFormat: 'DD/MM'
        }
      },
      buttonText: {
        timeGrid: 'day'
      },
      loading: function (bool) {
        $('#div_calendar_loading').toggle(bool);
      },
      events: {
        url: '<%= url %>',
        error: function () {
          $('#script-warning').show();
        },
        extraParams: function () {
          return {
            cachebuster: new Date().valueOf()
          };
        }
      },
      eventMouseEnter: function (mouseEnterInfo) {
        console.log(mouseEnterInfo.el.innerHTML);
        console.log(mouseEnterInfo.event.title);
      },

      validRange: function (nowDate) {
        return {
          start: "<%= defaultDate %>",
          // end: nowDate.clone().add(1, 'months')
        };
      },

      selectable: true,

      selectMirror: true,

      viewSkeletonRender: function (info) {
        if (calendar.view.type == 'dayGridMonth' && calendar.getOption('selectable') == true) {
          calendar.setOption('selectable', false);
        } else if (calendar.view.type != 'dayGridMonth' && calendar.getOption('selectable') == false) {
          clearFields();
          calendar.setOption('selectable', true);
        }
      },

      selectOverlap: function (event) {
        return event.rendering === 'background';
      },

      selectAllow: function (selectInfo) {
        if (selectInfo.start < new Date() || selectInfo.start.getDate() != selectInfo.end.getDate()) {
          alert("You can't book in the past.");
          return false;
        }
        return true;
      },

      unselectAuto: false,

      unselectCancel: "form-control",

      unselect: function (info) {
        clearFields();
      },

      select: function (info) {
        $('#booking_id').val(calendar.formatDate(info.startStr, 'DD/MM/YYYY')).change();;
        $('#booking_valid_from').val(calendar.formatDate(info.startStr, 'HH:mm')).change();;
        $('#booking_valid_to').val(calendar.formatDate(info.endStr, 'HH:mm')).change();;

        $('#booking_valid_from_full').val(info.startStr);
        $('#booking_valid_to_full').val(info.endStr);
        show_tooltip = false;
      },

      dateClick: function (info) {
        if (info.allDay) {
          calendar.changeView('timeGridDay');
          calendar.gotoDate(info.date);
          $('#booking_id').val(calendar.formatDate(info.date, 'DD/MM/YYYY')).change();
          $('#new_booking')[0].checkValidity();
        }
      },

      eventRender: function (info) {
        if (info.event.extendedProps.can_delete) {
          can_delete_text = '<a data-confirm="Do you want to cancel this booking?" rel="nofollow" data-method="delete" href="/bookings/' + info.event.extendedProps.can_delete +
            '"><i class="fas fa-trash text-danger" data-toggle="tooltip" data-original-title="Delete booking" data-placement="top"></i>' +
            '</a>&nbsp;&nbsp;' + info.event.title;

          if (info.el.querySelector('.fc-title') != null) {
            info.el.querySelector('.fc-title').innerHTML = can_delete_text;
          }
        }
      },


    });
    calendar.render();
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
      if (elements[i].id == "booking_valid_to" || elements[i].id == "booking_valid_from" || elements[i].id == "booking_id") {

        elements[i].oninvalid = function (e) {
          e.target.setCustomValidity('');
          if (!e.target.validity.valid) {
            text = "time";
            if (e.target.id == "booking_id") {
              text = "date";
            }
            e.target.setCustomValidity("Please select " + text + " on the left calendar");
          }
        };
        elements[i].onchange = function (e) {
          e.target.setCustomValidity('');
        };
        elements[i].onfocus = function (e) {
          $(this).blur();
        };
      }
    }
    $("#calendar").on('mousemove', function (e) {
      if (show_tooltip) {
        title = "Please pick a date";
        if (calendar.view.type == "timeGridDay") {
          title = "Please drag the start and end time of this booking";
        }

        $("#img-tooltip").css({ top: e.pageY, left: e.pageX });
        $('#img-tooltip').attr('data-original-title', title).tooltip('show');
      }
    })

    $("#calendar").on('mouseleave', function (e) {
      $('#img-tooltip').tooltip('hide');
    })
  });

  function clearFields() {
    show_tooltip = true;
    $('#booking_valid_to').val('');
    $('#booking_valid_from').val('');
    $('#booking_id').val('');
  }


</script>

<style>
  #div_calendar_loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #div_calendar_loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  #script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
  }

  #calendar {
    max-width: 650px;
    margin: 20px auto;
    padding: 0 10px;
    font-size: 14px;
  }

  @media only screen and (max-width: 600px) {
    #calendar H2 {
      margin-top: 20px;
    }
  }

  .fc-dayGridMonth-view .fc-event-container {
    display: none;
  }

  #img-tooltip {
    position: absolute;
  }
</style>

<i id="img-tooltip" data-toggle="tooltip" data-placement="right" title="Pick a date" data-animation="false"
  data-trigger="manual" />&nbsp;</i>