<script>
  var calendar;
  $(document).ready(function () {

    var calendarEl = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: ['moment', 'dayGrid', 'timeGrid', 'list', 'interaction'],
      defaultView: 'listWeek',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'listWeek,timeGrid,timeGridWeek,dayGridMonth'
      },
      nowIndicator: true,
      fixedWeekCount: true,
      allDaySlot: false,
      minTime: "<%= Rails.configuration.smarter_rooms_calendar_start_time.to_s %>:00",
      maxTime: "<%= Rails.configuration.smarter_rooms_calendar_end_time.to_s %>:00",
      slotDuration: "<%= Rails.configuration.smarter_rooms_calendar_slot_duration %>",
      hiddenDays: "<%= Rails.configuration.smarter_rooms_calendar_hidden_days %>",
      defaultDate: "<%= DateTime.now.strftime('%Y-%m-%d') %>",
      editable: false,
      navLinks: false,
      eventLimit: false,
      noEventsMessage: 'No bookings to display',
      eventTimeFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      slotLabelFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      eventLimit: true,
      views: {
        week: {
          titleFormat: 'DD/MM'
        }
      },
      buttonText: {
        timeGrid: 'day'
      },
      loading: function (bool) {
        $('#div_calendar_loading').toggle(bool);
      },
      events: {
        url: '<%= url %>' +
          '?room_id=' + $('#room_id').children("option:selected").val() +
          '&user_id=' + $('#user_id').children("option:selected").val(),
        error: function () {
          $('#script-warning').show();
        },
        success: function (data, xhr) {
          if (xhr.status == 201) {
            $('#div_info').html('<p class="text-center text-danger">There are more results to show<br />First 50 results displayed<br />Please use the below filters</p>');
          } else if (xhr.status == 200) {
            $('#div_info').html('<p class="text-center text-success">All results displayed</p>');
          } else if (xhr.status == 202) {
            $('#div_info').html('<p class="text-center text-primary">No results to show</p>');
          }
        },
        extraParams: function () {
          return {
            cachebuster: new Date().valueOf()
          };
        }
      },
      eventMouseEnter: function (mouseEnterInfo) {
        // console.log(mouseEnterInfo.el.innerHTML);
        // console.log(mouseEnterInfo.event.title);
      },

      dateClick: function (info) {
        if (info.allDay) {
          calendar.changeView('timeGridDay');
          calendar.gotoDate(info.date);
        }
      },

      eventRender: function (info) {
        if (info.event.extendedProps.can_delete) {
          can_delete_text = '<a data-confirm="Do you want to cancel this booking?" rel="nofollow" data-method="delete" href="/bookings/' + info.event.extendedProps.can_delete +
            '"><i class="fas fa-trash text-danger" data-toggle="tooltip" data-original-title="Delete booking" data-placement="top"></i>' +
            '</a>&nbsp;&nbsp;' + info.event.title;

          if (info.el.querySelector('.fc-title') != null) {
            info.el.querySelector('.fc-title').innerHTML = can_delete_text;
          }

          if (info.el.querySelector('.fc-list-item-title') != null) {
            info.el.querySelector('.fc-list-item-title').innerHTML = can_delete_text;
          }
        }
      },
    });
    calendar.render();
  });

  function getBookings() {
    var firstEventSource = calendar.getEventSources()[0];
    if (firstEventSource) {
      firstEventSource.remove();
    }
    calendar.addEventSource({
      url: '<%= url %>' +
        '?room_id=' + $('#room_id').children("option:selected").val() +
        '&user_id=' + $('#user_id').children("option:selected").val(),
      success: function (data, xhr) {
        if (xhr.status == 201) {
          $('#div_info').html('<p class="text-center text-danger">There are more results to show<br />First 50 results displayed<br />Please use the below filters</p>');
        } else if (xhr.status == 200) {
          $('#div_info').html('<p class="text-center text-success">All results displayed</p>');
        } else if (xhr.status == 202) {
          $('#div_info').html('<p class="text-center text-primary">No results to show</p>');
        }
      },
      extraParams: function () {
        return {
          cachebuster: new Date().valueOf()
        };
      }
    });
    calendar.refetchEvents();
  }


</script>

<style>
  #div_calendar_loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #div_calendar_loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  #script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
  }

  #calendar {
    max-width: 750px;
    margin: 20px auto;
    padding: 0 10px;
    font-size: 14px;
  }

  @media only screen and (max-width: 600px) {
    #calendar H2 {
      margin-top: 20px;
    }
  }
</style>