<h3>Bookings</h3>

<% if current_user.is_admin? && false %>
<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header">Today's bookings</h5>
      <div class="card-body centered">
        <% @bookings_today.each do |b| %>
        <b><%= b.room.name %></b> (<%= b.valid_from.strftime('%H:%M') %> - <%= b.valid_to.strftime('%H:%M') %>)
        <br />
        <%= b.user.name %> <br /> <br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-header">Last bookings</h5>
      <div class="card-body centered">
        <% @bookings_lasts.each do |b| %>
        <b><%= b.created_at.to_s + " " + b.room.name %></b> (<%= b.valid_from.strftime('%H:%M') %> -
        <%= b.valid_to.strftime('%H:%M') %>)
        <br />
        <%= b.user.name %> <br /> <br />
        <% end %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-header">All bookings</h5>
      <div class="card-body centered">
        By Room <br />
        By Site <br />
        By Date <br />
      </div>
    </div>
  </div>
</div>


<% else %>

<% end %>

<%= content_tag :div, id: "div_calendar_loading" do %>
<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
<% end %>

<%= content_tag :div, id: "script-warning" do %>
bookings system must be running.
<% end %>

<%= content_tag :div, class: "row justify-content-md-center mt-0" do %>
<%= content_tag :div, class: "col-sm-6" do %>
<%= content_tag :div, class: "row" do %>
<%= content_tag :div, class: "col-sm-12" do %>
<% end %>
<% end %>
<%= content_tag :div, class: "row m-4" do %>
<% col_size = 12 %>
<% if current_user.is_admin? %>
<% col_size = 6 %>
<%= content_tag :div, class: "col-sm-6" do %>
<%= content_tag :div, class: "input-group" do %>
<%= content_tag :div, class: "input-group-prepend" do %>
<%= content_tag :span, class: "input-group-text" do %>
<%= icon('fas', 'users', class: 'fa-fw') %>
<% end %>
<% end %>
<%= collection_select(:user, :id, @users, :id, :name, {:include_blank => 'All users', :selected => @user_id}, {:class=>'custom-select', :onchange=>'getBookings();', :autocomplete=>'off'}) %>
<% end %>
<% end %>
<% end %>
<%= content_tag :div, class: "col-sm-" + col_size.to_s do %>
<%= content_tag :div, class: "input-group" do %>
<%= content_tag :div, class: "input-group-prepend" do %>
<%= content_tag :span, class: "input-group-text" do %>
<%= icon('fas', 'door-open', class: 'fa-fw') %>
<% end %>
<% end %>
<%= collection_select(:room, :id, @rooms, :id, :name, {:include_blank => 'All rooms', :selected => @room_id}, {:class=>'custom-select', :onchange=>'getBookings();', :autocomplete=>'off'}) %>
<% end %>
<% end %>
<% end %>
<%= content_tag :div, class: "row m-4" do %>
<%= content_tag :div, class: "col-sm-12" do %>
<%= content_tag :div, id: "div_info" do %>
<% end %>
<% end %>
<% end %>
<% end %>
<%= content_tag :div, class: "col-sm-6" do %>
<%= content_tag :div, id: "calendar" do %>
<% end %>
<% end %>
<% end %>

<%= render partial: "calendar_index_user", locals: {url: '/bookings.json' } %>