<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>

<% current_user.bookings.each do |b| %>
<b><%= b.id %></b> <br />
<%= b.valid_from %> <br />
<%= b.valid_to %> <br />
<%= b.number_of_attendants %> <br />
<%= b.room.name %> <br /> <br /> <br />
<% end %>