<h3>Bookings</h3>

<%= content_tag :div, id: "div_calendar_loading" do %>
<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
<% end %>

<%= content_tag :div, id: "script-warning" do %>
bookings system must be running.
<% end %>

<%= content_tag :div, class: "row justify-content-md-center mt-0" do %>
<%= content_tag :div, class: "col-sm-6" do %>
<%= content_tag :div, class: "row" do %>
<%= content_tag :div, class: "col-sm-12" do %>
<% end %>
<% end %>
<%= content_tag :div, class: "row m-4" do %>
<% col_size = 8 %>
<% if current_user.is_admin? && !@my_bookings%>
<% col_size = 6 %>
<%= content_tag :div, class: "col-sm-6" do %>
<%= content_tag :div, class: "input-group" do %>
<%= content_tag :div, class: "input-group-prepend" do %>
<%= content_tag :span, class: "input-group-text" do %>
<%= icon('fas', 'users', class: 'fa-fw') %>
<% end %>
<% end %>
<%= collection_select(:user, :id, @users, :id, :name, {:include_blank => 'All users', :selected => @user_id}, {:class=>'custom-select', :onchange=>'getBookings();', :autocomplete=>'off'}) %>
<% end %>
<% end %>
<% end %>
<%= content_tag :div, class: "col-sm-" + col_size.to_s do %>
<%= content_tag :div, class: "input-group" do %>
<%= content_tag :div, class: "input-group-prepend" do %>
<%= content_tag :span, class: "input-group-text" do %>
<%= icon('fas', 'door-open', class: 'fa-fw') %>
<% end %>
<% end %>
<%= collection_select(:room, :id, @rooms, :id, :name, {:include_blank => 'All rooms', :selected => @room_id}, {:class=>'custom-select', :onchange=>'getBookings();', :autocomplete=>'off'}) %>
<% end %>
<% end %>

<% if (current_user.is_admin? && @my_bookings) || !current_user.is_admin? %>
<%= content_tag :div, class: "col-sm-4" do %>
<%= link_to icon('fas', 'book-open', class: 'mr-2') + 'Book now', new_booking_path(room_id: @room_id), :class => "btn btn-outline-success btn d-none", id: "book_now_button" %>
<% end %>
<% end %>

<% end %>

<%= content_tag :div, class: "row m-4" do %>
<%= content_tag :div, class: "col-sm-12" do %>
<%= content_tag :div, id: "div_info" do %>
<% end %>
<% end %>
<% end %>
<% end %>
<%= content_tag :div, class: "col-sm-6" do %>
<%= content_tag :div, id: "calendar" do %>
<% end %>
<% end %>
<% end %>

<% if @my_bookings %>
<%= render partial: "calendar_index_user", locals: {url: '/bookings.json?my_bookings=true' } %>
<% else %>
<%= render partial: "calendar_index_user", locals: {url: '/bookings.json?my_bookings=false' } %>
<% end %>