<div class="card">
  <h5 class="card-header">You are booking the <b><%= @room.name %></b> room</h5>
  <div class="card-body centered">
    <%= form_for @booking, url: {action: "create"} do |f| %>
    <table class="table">
      <tr>
        <th style="width: 180px;" class="align-middle">Location:</th>
        <td>
          <%= @room.building.name %>
          <br />
          <%= @room.building.address %>
        </td>
        <td rowspan="4" class="text-center align-middle pl-5">

          <%= content_tag :div, class: "input-group mb-3 row" do %>
          <%= content_tag :div, class: "input-group-prepend" do %>
          <%= content_tag :span, class: "input-group-text" do %>
          <%= icon('fas', 'calendar-day', class: 'fa-fw') %>
          <% end %>
          <% end %>
          <%= f.date_field :id, name: 'booking[valid_from_date]', :required => true, placeholder: 'Date', class: "form-control", min: DateTime.now.to_date, value: DateTime.now.to_date %>
          <% end %>

          <%= content_tag :div, class: "input-group mb-3 row" do %>
          <%= content_tag :div, class: "input-group-prepend" do %>
          <%= content_tag :span, class: "input-group-text" do %>
          <%= icon('fas', 'city', class: 'fa-door-open') %>
          <% end %>
          <% end %>
          <%= select_tag "booking[valid_from]", 
              options_for_select(@times_from.map { |time| [time[:value], time[:id]] }, 
              disabled: @times_from.select {|time| time[:disabled]}.map {|time| time[:id]}), 
              {:include_blank => "From time", class: 'form-control', required: true} %>
          <% end %>


          <%= content_tag :div, class: "input-group mb-3 row" do %>
          <%= content_tag :div, class: "input-group-prepend" do %>
          <%= content_tag :span, class: "input-group-text" do %>
          <%= icon('fas', 'city', class: 'fa-door-closed') %>
          <% end %>
          <% end %>
          <%= select_tag "booking[valid_to]", 
              options_for_select(@times_to.map { |time| [time[:value], time[:id]] }, 
              disabled: @times_to.select {|time| time[:disabled]}.map {|time| time[:id]}), 
              {:include_blank => "To time", class: 'form-control', required: true} %>
          <% end %>

          <%= render partial: "form_label", locals: {required: true, field: :number_of_attendants,  fa_icon: 'users',
                                                      placeholder: '# of Attendants', type: 'number', form: f, max: @room.max_capacity } %>
        </td>
      </tr>
      <tr>
        <th>Floor:</th>
        <td><%= @room.floor %></td>
      </tr>
      <tr>
        <th>Max capacity:</th>
        <td><%= @room.max_capacity %></td>
      </tr>
      <tr class="border-bottom">
        <th>Devices:</th>
        <td>
          <% @room.room_accesories.each do |ra| %>
          - <%= ra.accesory.name + " x " + ra.quantity.to_s %><br />
          <% end %>
        </td>
      </tr>
    </table>

    <table class="table table-borderless text-center">
      <tr>
        <td class="col-2">
          <%= link_to "Back", rooms_path, class: "btn-outline-secondary btn btn-block btn-lg" %>
        </td>
        <td class="col-2">
          <%= hidden_field_tag(:room_id, @room.id) %>
          <%= f.submit "Book room", class: "btn-outline-success btn btn-block btn-lg" %>
        </td>
      </tr>
    </table>
    <% end %>
  </div>
</div>

<select id="locality-dropdown" name="locality">
</select>

<script>
  $(document).ready(function () {
    $('select#booking_valid_from').change(
      function () {
        // javascript
        console.log("Changed from select" + this.value);
      }
    )
  });

  let dropdown = $('#locality-dropdown');

  dropdown.empty();

  dropdown.append('<option selected="true" disabled>Choose State/Province</option>');
  dropdown.prop('selectedIndex', 0);

  const url = '/test.json';

  // Populate dropdown with list of provinces
  $.getJSON(url, function (data) {
    $.each(data, function (key, entry) {
      dropdown.append($('<option></option>').attr('value', entry.abbreviation).text(entry.name));
    })
  });

</script>