<h1>Booking room <%= @room.name %></h1>

<div id="div_cargando">
  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>

<%= form_for Booking.new, url: {action: "create"} do |f| %>
<table class="table">
  <tr style="height: 10px;">
    <th style="width: 25%;" class="align-middle">Location:</th>
    <td style="width: 25%">
      <%= @room.building.name %>
      <br />
      <%= @room.building.address %>
    </td>
    <td rowspan="6" class="border-bottom text-center align-middle pl-5">

      <div id="script-warning">
        <code>bookings system</code> must be running.
      </div>

      <div id="calendar"></div>
    </td>
  </tr>
  <tr style="height: 10px;">
    <th>Floor:</th>
    <td><%= @room.floor %></td>
  </tr>
  <tr style="height: 10px;">
    <th>Max capacity:</th>
    <td><%= @room.max_capacity %></td>
  </tr>
  <tr style="height: 10px;">
    <th>Devices:</th>
    <td>
      <% @room.room_accesories.each do |ra| %>
      - <%= ra.accesory.name + " x " + ra.quantity.to_s %>
      <% end %>
    </td>
  </tr>
  <tr class="border-bottom" style="height: 10px;">
    <th>Book:</th>
    <td style="padding-left: 40px;">
      <%= content_tag :div, class: "input-group mb-3 row" do %>
      <%= content_tag :div, class: "input-group-prepend" do %>
      <%= content_tag :span, class: "input-group-text" do %>
      <%= icon('fas', 'calendar-day', class: 'fa-fw') %>
      <% end %>
      <% end %>
      <%= f.text_field :id, :disabled => true, class: "form-control", style: "background-color: white", :name => "booking[valid_from_date]",:id => "booking_valid_from_date", "data-toggle" => "tooltip", "data-original-title" => "Please choose date and time on the calendar", "data-placement" => "right" %>
      <% end %>

      <%= content_tag :div, class: "input-group mb-3 row" do %>
      <%= content_tag :div, class: "input-group-prepend" do %>
      <%= content_tag :span, class: "input-group-text" do %>
      <%= icon('fas', 'city', class: 'fa-door-open') %>
      <% end %>
      <% end %>
      <%= f.text_field :valid_from, :disabled => true, class: "form-control", style: "background-color: white", "data-toggle" => "tooltip", "data-original-title" => "Please choose date and time on the calendar", "data-placement" => "right" %>
      <% end %>

      <%= hidden_field_tag "booking[valid_from_full]" %>
      <%= hidden_field_tag "booking[valid_to_full]" %>

      <%= content_tag :div, class: "input-group mb-3 row" do %>
      <%= content_tag :div, class: "input-group-prepend" do %>
      <%= content_tag :span, class: "input-group-text" do %>
      <%= icon('fas', 'city', class: 'fa-door-closed') %>
      <% end %>
      <% end %>
      <%= f.text_field :valid_to, :disabled => true, class: "form-control", style: "background-color: white", "data-toggle" => "tooltip", "data-original-title" => "Please choose date and time on the calendar", "data-placement" => "right" %>
      <% end %>

      <%= render partial: "form_label", locals: {required: true, field: :number_of_attendants,  fa_icon: 'users',
                                                      placeholder: '# of Attendants', type: 'number', form: f, max: @room.max_capacity } %>
    </td>
  </tr>
  <tr class="border-bottom">
    <td>
      <%= link_to "Back", rooms_path, class: "btn-outline-secondary btn btn-block btn-lg" %>
    </td>
    <td>
      <%= hidden_field_tag(:room_id, @room.id) %>
      <%= f.submit "Book room", class: "btn-outline-success btn btn-block btn-lg" %>
    </td>
  </tr>
</table>
<% end %>

<script>
  function fillOptions(url, select_id, text) {
    let dropdown = $('#' + select_id);

    dropdown.empty();

    dropdown.append('<option selected="true" disabled>' + text + '</option>');
    dropdown.prop('selectedIndex', 0);

    $.getJSON(url, function (data) {
      $.each(data.available_times, function (key, entry) {
        if (entry.disabled) {
          dropdown.append($('<option disabled="disabled></option>').attr('value', entry.value).text(entry.value));
        } else {
          dropdown.append($('<option></option>').attr('value', entry.value).text(entry.value));
        }
      })
    });
  }

  $(document).ready(function () {
    $('select#booking_valid_from_time').change(
      function () {
        fillOptions('/rooms/<%= @room.id %>.json?date=' + $('#booking_id').val() + '&from_time=' + $('#booking_valid_from_time option:selected').text(), "booking_valid_to_time", "To time ...");
        $("#booking_valid_to_time").prop("disabled", false);
      }
    )
  });

  $(document).ready(function () {
    $('input#booking_id').change(
      function () {
        fillOptions('/rooms/<%= @room.id %>.json?date=' + this.value, "booking_valid_from_time", "From time ...");
      }
    )
  });

</script>

<%= render partial: "calendar_new_user", locals: {url: '/rooms/' + @room.id.to_s + '.json?only_bookings=1'} %>