<div class="row justify-content-sm-center">
  <div class="col-sm-4">
    <div class="card">
      <h5 class="card-header"><%= @user.name %> profile</h5>
      <div class="card-body centered">
        <table class="table table-borderless">
          <tr>
            <th>E-mail:</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>Phone:</th>
            <td><%= @user.phone %></td>
          </tr>
          <% if current_user.is_admin? %>
          <tr>
            <th>Is admin:</th>
            <td>
              <% if @user.is_admin? %>
              <%= icon('fas', 'check', class: "text-success", "data-toggle" => "tooltip", "data-original-title" => "This user is admin", "data-placement" => "right") %>
              <% else %>
              <%= icon('fas', 'minus-circle', class: "text-danger", "data-toggle" => "tooltip", "data-original-title" => "This user is not admin", "data-placement" => "right") %>
              <% end %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td colspan="2">
              <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-outline-primary btn-block"%>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>