<h3><%= @title %></h3>

<% if @rooms.size == 0 %>

<%= render partial: "alert_box", locals: {message_type: "info", message: "No rooms with selected criteria.", hide_alert: false} %>

<% end %>

<% i = 0 %>
<% @rooms.each do |room| 
if (i % Kaminari.config.default_per_page) == 0 %>
<div class="row justify-content-md-center">
  <% end %>
  <div class="col-sm-2 mt-1">
    <% if current_user.is_admin? %>
    <div class="card<%= room.active? ? ' border-success' : ' border-danger' %>">
      <div class="card-body centered">
        <% end %>
        <% if room.active? %>
        <a href="<%=new_booking_path(room_id: room.id)%>">
        <% end %>
          <div class="room_info bg-dark rounded">
            <span class="room_name"><b><%= room.name %></b></span> <br />
            <span class="room_name">Room</span>
            <hr />
            <span class="room_accesories"><%= icon('fas', 'users') %> <%= room.max_capacity %> people max.</span><br />
            <span class="room_accesories">
              <% room.get_room_accesories_count.map {|ra| %>
              <%= icon('fas',ra["icon"], class: ra["class"], "data-toggle" => "tooltip", "data-original-title" => ra["quantity"].to_s + " " + ra["name"], "data-placement" => "bottom") %>
              &nbsp;
              <% } %>
            </span>
            <hr />
            <span class="room_img">
              <%= image_tag("/logo_ibm_white.png") %><br />
              <span class="building_name"><%= room.building.name %> <%= room.floor %> floor</span>
            </span>
          </div>
          <% if current_user.is_admin? %>
          <table class="text-center w-100 table-borderedless">
            <tr>
              <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <% if room.active? %>
                <%= link_to room_path(room, "room[active]": '0'), method: :put, data: { confirm: room.name + ' is enabled, do you want to disable this room?' } do %>
                <%= icon('fas','ban', class: "text-danger", "data-toggle" => "tooltip", "data-original-title" => "Disable room", "data-placement" => "bottom") %>
                <% end %>
                <% else %>
                <%= link_to room_path(room, "room[active]": '1'), method: :put, data: { confirm: room.name + ' is disabled, do you want to enable this room?' } do %>
                <%= icon('fas','check-circle', class: "text-success", "data-toggle" => "tooltip", "data-original-title" => "Enable room", "data-placement" => "bottom") %>
                <% end %>
                <% end %>
              </td>
              <% if room.active? %>
              <td>
                <%= link_to new_booking_path(room_id: room.id) do %>
                <%= icon('fas', 'calendar-alt', class: "text-primary", "data-toggle" => "tooltip", "data-original-title" => "Book this room!", "data-placement" => "bottom") %>
                <% end %>
              </td>
              <% end %>
              <td>
                <%= link_to bookings_path(room_id: room.id) do %>
                <%= icon('fas', 'book-open', class: "text-info", "data-toggle" => "tooltip", "data-original-title" => "View room bookings", "data-placement" => "bottom") %>
                <% end %>
              </td>
              <td>
                <%= link_to edit_room_path(room) do %>
                <%= icon('fas', 'edit', class: "text-warning", "data-toggle" => "tooltip", "data-original-title" => "Edit room", "data-placement" => "bottom") %>
                <% end %>
              </td>
              <!-- Remove for enable delete
            <td>
              <%= link_to room, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon('fas', 'trash-alt', class: "text-danger", "data-toggle" => "tooltip", "data-original-title" => "Delete room", "data-placement" => "bottom") %>
              <% end %>
            </td>
            -->
            </tr>
          </table>
          <% end %>
      </div>
      <% if room.active? %>
      </a>
      <% end %>
      <% if current_user.is_admin? %>
    </div>
  </div>
  <% end %>

  <% i = i + 1 %>
  <%if (i % Kaminari.config.default_per_page) == 0 || i == @rooms.size %>
</div>
<% end %>
<% end %>

<br />

<div class="container pagination justify-content-center">
  <%= paginate @rooms, param_name: :pagina %>
</div>

<% if current_user.is_admin? %>

<div class="row mt-4 justify-content-md-center text-center">
  <div class="col-sm-3 m-1">
    <%= link_to 'Back', buildings_path, :class => "btn btn-outline-secondary btn-block"%>
  </div>
  <div class="col-sm-3 m-1">
    <%= link_to 'Create new room', new_room_path, :class => "btn btn-outline-success btn-block"%>
  </div>
</div>

<% else %>

<div class="row mt-4 justify-content-md-center text-center">
  <div class="col-sm-3 m-1">
    <%= link_to 'Back', buildings_path, :class => "btn btn-outline-secondary btn-block"%>
  </div>
<% if @title != "All rooms" %>
  <div class="col-sm-3 m-1">
    <%= link_to 'View all rooms', rooms_path, :class => "btn btn-outline-primary btn-block"%>
  </div>
<% end %>
</div>

<% end %>