<h1>Rooms</h1>

<% if current_user.is_admin? %>
<%= link_to 'Create new room', new_room_path, :class => "btn btn-outline-success btn-block btn-lg"%>
<br />
<% end %>

<table class="table table-striped text-center">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Floor</th>
      <th>Max capacity</th>
      <th>Building</th>
      <th>Accesories</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
    <tr>
      <td><%= room.name %></td>
      <td><%= room.floor %></td>
      <td><%= room.max_capacity %></td>
      <td><%= room.building.name %></td>
      <td class="text-left">
        <% room.room_accesories.each do |ra| %>
        - <%= ra.quantity.to_s + " " + ra.accesory.name %><br />
        <% end %>
        </ul>
      </td>
      <% if current_user.is_admin? %>
      <td>
        <% if room.active? %>
        <%= link_to room_path(room, "room[active]": '0'), method: :put, data: { confirm: 'Are you sure?' } do %>
        <%= icon('fas','ban', class: "fa-2x text-danger", "data-toggle" => "tooltip", "data-original-title" => "Disable room", "data-placement" => "right") %>
        <% end %>
        <% else %>
        <%= link_to room_path(room, "room[active]": '1'), method: :put, data: { confirm: 'Are you sure?' } do %>
        <%= icon('fas','check-circle', class: "fa-2x text-success", "data-toggle" => "tooltip", "data-original-title" => "Enable room", "data-placement" => "right") %>
        <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to room do %>
        <%= icon('fas', 'eye', class: "fa-2x text-primary", "data-toggle" => "tooltip", "data-original-title" => "View room", "data-placement" => "right") %>
        <% end %>
      </td>
      <td>
        <%= link_to edit_room_path(room) do %>
        <%= icon('fas', 'edit', class: "fa-2x text-warning", "data-toggle" => "tooltip", "data-original-title" => "Edit room", "data-placement" => "right") %>
        <% end %>
      </td>
      <td>
        <%= link_to room, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <%= icon('fas', 'trash-alt', class: "fa-2x text-danger", "data-toggle" => "tooltip", "data-original-title" => "Delete room", "data-placement" => "right") %>
        <% end %>
      </td>
      <% else %>
      <td colspan="4">
          <%= link_to 'Book', new_booking_path(room_id: room.id), class: 'btn btn-sm btn-danger' %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= paginate @rooms, param_name: :pagina %>