<ul class="navbar-nav mr-auto">
  <li class="nav-item<%= ' active' if controller_name == 'static_pages' || controller_name == 'sessions' %>">
    <%= link_to '/', class: 'nav-link' do %>
    <%= icon('fas', 'home') %> Home
    <% end %>
  </li>
  <li
    class="nav-item<%= ' active' if (controller_name == 'users' && request.fullpath != '/users/' + current_user.id.to_s) %>">
    <%= link_to users_path, class: 'nav-link' do %>
    <%= icon('fas', 'users') %> Users
    <% end %>
  </li>
  <li class="nav-item<%= ' active' if controller_name == 'buildings' %>">
    <%= link_to buildings_path, class: 'nav-link' do %>
    <%= icon('fas', 'building') %> Buildings
    <% end %>
  </li>
  <div class="dropdown show<%= ' active' if (controller_name == 'rooms') %>">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownRoomsLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"
      <%= sanitize(' style="color: white;"') if controller_name == 'rooms' %></a> <i class="fas fa-door-open"></i>
      Rooms
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownRoomsLink">
      <%= link_to rooms_path, class: 'dropdown-item' do %>
      <%= icon('fas', 'door-closed') %> View all rooms
      <% end %>

      <%= link_to rooms_real_state_path, class: 'dropdown-item' do %>
      <%= icon('fas', 'chalkboard-teacher') %> View real state rooms
      <% end %>

      <%= link_to rooms_busy_without_booking_path, class: 'dropdown-item' do %>
      <%= icon('fas', 'user-slash') %> View busy rooms without booking
      <% end %>
    </div>
  </div>
  <li class="nav-item<%= ' active' if controller_name == 'bookings' %>">
    <%= link_to bookings_path, class: 'nav-link' do %>
    <%= icon('fas', 'book-open') %> Bookings
    <% end %>
  </li>
  <li class="nav-item<%= ' active' if controller_name == 'stats' %>">
    <%= link_to stats_path, class: 'nav-link' do %>
    <%= icon('fas', 'chart-bar') %> Stats
    <% end %>
  </li>
  <div
    class="dropdown show<%= ' active' if (controller_name == 'users' && request.fullpath == '/users/' + current_user.id.to_s) %>">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false"
      <%= sanitize(' style="color: white;"') if (controller_name == 'users' && request.fullpath == '/users/' + current_user.id.to_s) %></a> <i class="fas fa-user-circle"></i>
      <%= current_user.name %>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to current_user, class: 'dropdown-item' do %>
      <%= icon('fas', 'user') %> My Profile
      <% end %>
      <%= link_to logout_path, method: 'delete', class: 'dropdown-item' do %>
      <%= icon('fas', 'sign-out-alt') %> Logout
      <% end %>
    </div>
  </div>
</ul>
<%= form_tag(rooms_path, method: :get, class: 'form-inline mt-2 mt-md-0') do %>
<%= text_field_tag :search_name, "", class: 'form-control mr-sm-2', placeholder: 'Find room by name ...' %>
<%= button_tag 'Search', class: 'btn btn-primary my-2 my-sm-0' %>
<% end %>