<h3>Averages stats</h3>

<%= hidden_field_tag "current_week", "0" %>

<div class="row text-center">
  <div class="col-sm-6 mt-1">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-4">
            <select id="days_count" name="days_count" class="custom-select">
              <option value="7">Last week</option>
              <option value="30">Last month</option>
            </select>
          </div>
          <div class="col-6">
            <h5 class="pt-2"><b>Average booking by hour</b></h5>
          </div>
        </div>
      </div>
      <div class="card-body centered">
        <div id="chart-by-hour-container" class="chart-container"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-1">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-4">
            <% if Room.active.all.count == 0 %>
            <%= collection_select(:room, :id, Room.active.all, :id, :name, {prompt: false}, {:class=>'custom-select d-none'}) %>
            <% else %>
            <%= collection_select(:room, :id, Room.active.all, :id, :name, {prompt: false}, {:class=>'custom-select'}) %>
            <% end %>
          </div>
          <div class="col-6">
            <h5 class="pt-2"><b>Room's bookings by day [%]</b></h5>
          </div>
          <div class="col-2">
            <button onclick="changeWeek('prev');" id="prev-week" type="button" class="btn btn-primary btn-sm"
              data-toggle="tooltip" data-original-title="Previous week" data-placement="top">
              <%= icon('fas', 'chevron-circle-left') %>
            </button>
            <button onclick="changeWeek('next');" id="next-week" type="button" disabled="disabled"
              class="btn btn-primary btn-sm" data-toggle="tooltip" data-original-title="Next week" data-placement="top">
              <%= icon('fas', 'chevron-circle-right') %>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body centered">
        <div id="chart-by-day-container" class="chart-container"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#room_id").change(function (e) {
    $('#current_week').val("-1");
    changeWeek('next');
    refreshByDayChart();
  });

  $("#days_count").change(function (e) {
    refreshByHourChart();
  });

  $('#room_id').val("");
  $('#current_week').val("0");
  $('#next-week').attr("disabled", true);

  $("#days_count").val($("#days_count option:first").val()).change();
  $("#room_id").val($("#room_id option:first").val()).change();

  function refreshByDayChart() {
    $.ajax({
      type: "GET",
      url: "/stats/rooms_bookings_by_day",
      data: {
        room_id: $('#room_id').val(),
        current_week: $('#current_week').val()
      },
      success: function (data) {
        $("#chart-by-day-container").html(data);
      },
    });
  }

  function changeWeek(prevnext) {
    $('#room_id').focus();
    if ($('#room_id').val() == "") {
      alert("Select a room first");
      return false;
    }
    if (prevnext == 'prev') {
      $('#current_week').val($('#current_week').val() - 1);
    } else {
      $('#current_week').val(parseInt($('#current_week').val()) + 1);
    }
    if ($('#current_week').val() < 0) {
      $('#next-week').attr("disabled", false);
    } else {
      $('#next-week').attr("disabled", true);
    }
    if ($('#current_week').val() > -4) {
      $('#prev-week').attr("disabled", false);
    } else {
      $('#prev-week').attr("disabled", true);
    }
    refreshByDayChart();
  }

  function refreshByHourChart() {
    $.ajax({
      type: "GET",
      url: "/stats/rooms_bookings_by_hour",
      data: {
        days_count: $('#days_count').val()
      },
      success: function (data) {
        $("#chart-by-hour-container").html(data);
      },
    });
  }

</script>

<style>
  .chart-container {
    height: 400px;
    vertical-align: middle;
  }

  .chart-container SPAN {
    padding-top: 50px;
  }

  H5 {
    font-size: 16px;
  }
</style>